body {
    font-family: 'Vietnam Pro', sans-serif !important;
    background-image: url('resources/background.svg');
    background-size: cover;
    background-attachment: fixed; 
    min-height: 100%; 
    margin: 0;

}

img {
    margin-top: 20px;
    margin-left: 50px;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: -20px;
    margin-bottom: 70px;
}

.title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: #FFFFFF;
}

form {
    font-family: 'Vietnam Pro', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    width: 55%;
    background-color: #FFFFFF33;
    padding: 30px;
    border-radius: 20px;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.row > div {
    flex: 1;
}

label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #FFFFFF;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    font-family: 'Vietnam Pro', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    padding: 25px;
    border: none;
    width: 100%; 
    box-sizing: border-box;
    background-color: #FFFFFF;
    flex: 1 1 calc(50% - 10px); 
}

textarea {
    height: 200px;
    margin-top: -20px;
    width: 100%;
}

button {
    font-family: 'Vietnam Pro', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px;
    color: #4036A9;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


@media (max-width: 1024px) {
    .title {
        width: 60%;
    }

    form {
        width: 75%;
    }
}

@media (max-width: 640px) {
    img {
        margin-left: 20px;
    }

    .title {
        width: 100%;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1rem;
    }

    form {
        width: 90%;
        padding: 30px 20px;
        gap: 30px;
    }

    .row {
        flex-direction: column;
        gap: 30px;
    }
}